doctype html
html(lang="en")
    head
        title pageTitle
        script(src="https://cdn.socket.io/socket.io-1.3.7.js")
        script(src="http://code.jquery.com/jquery-2.1.4.min.js")
        script(src="/main.js")
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')
    body
        div.color
        div.wrap
            div.score-wrap
                table.score
                    tr
                        td CT
                        td T
                    tr
                        td.ct-score 0
                        td.t-score 0
            div.container.name NonePlayer
            div.container
                table.ptablestat
                    tr
                        td.right.prow K/D/A
                        td.kdas.prow 99/99/99
                    tr
                        td.right.prow MVPs
                        td.mvps.prow 0
                    tr
                        td.right.prow Score
                        td.scoreplain.prow 0
                    tr
                        td.right.prow Health
                        td.health.prow 100/100
                    tr
                        td.right.prow Armor
                        td.armor.prow 0
                    tr
                        td.right.prow RKills
                        td.round_kills.prow 0/0
                    tr
                        td.right.prow Equip.
                        td.equip_value.prow $0
                    tr
                        td.right.prow Money
                        td.money.prow $0
                    tr
                        td.right.prow Money
                        td.kills.prow $0
