extends ./head.jade

        div.color
        div.wrap
            div.score-wrap
                table.score
                    tr
                        td CT
                        td T
                    tr
                        td.ct-score 0
                        td.t-score 0
            div.container
                div.timelabel Round Time
                dev.time 1:55
            div.container
                div.name Waiting for data
            div.container
                table.score
                    tr
                        td Health
                        td.health 0/100
                        td RKills
                        td RKillsHS
                        td Money
                        td EValue
                    tr
                        td Armor
                        td.armor 0
                        td.round_kills 0
                        td.round_killhs 0
                        td.money $0
                        td.equip_value $0
            div.container
                div.weapon
                    ul
                        li.rifle
                            table
                                tr
                                    td.pic
                                tr
                                    td.ammo
                        li.pistol
                            table
                                tr
                                    td.pic
                                tr
                                    td.ammo

                        li.knife
                            table
                                tr
                                    td.pic
                div.grenade
                    ul
                        li.g1
                            table
                                tr
                                    td.pic
                                    td.ammo
                        li.g2
                            table
                                tr
                                    td.pic
                                    td.ammo
                        li.g3
                            table
                                tr
                                    td.pic
                                    td.ammo
                        li.g4
                            table
                                tr
                                    td.pic
                                    td.ammo