extends ./head.jade
    div.container.bg-blue-500
        div.row
            div.column.name NonePlayer
            div.column.kdas 000/00/000
            div.column.round_kills 0/0
        div.row
            div.column.health 100/100
            div.column.armor 0
            div.column.equip_value $0
            div.column.money $0
