extends ./head.jade

block content
#color
    #wrap
        #score-wrap
            table.score
                tr
                    td CT
                    td T
                tr
                    td.ct-score 0
                    td.t-score 0
        #container.name NonePlayer
        #container
            table.ptablestat
                tr
                    td.right.prow K/A/D
                    td.kdas.prow 0/0/0
                tr
                    td.right.prow MVPs
                    td.mvps.prow 0
                tr
                    td.right.prow Score
                    td.scoreplain.prow 0
                tr
                    td.right.prow Health
                    td.health.prow 100/100
                tr
                    td.right.prow Armor
                    td.armor.prow 0
                tr
                    td.right.prow RKills
                    td.round_kills.prow 0/0
                tr
                    td.right.prow Equip.
                    td.equip_value.prow $0
                tr
                    td.right.prow Money
                    td.money.prow $0
                tr
                    td.right.prow Money
                    td.kills.prow $0
